body {
  background-color: lightblue;
  transition: background-color 5s ease-in-out;
}

.player {
  max-width: 25rem;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  background: linear-gradient(135deg, #f5deb3, #ffebcd);
  text-align: center;
  border-radius: 25px;
  margin-top: 5%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  animation: slideIn 1.5s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.player h1 {
  font-size: 2.5rem;
  color: #008000;
  margin-bottom: 1.5rem;
  animation: fadeIn 2s ease-in-out;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.inputOne {
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 1.6rem;
  text-align: center;
  background: rgba(210, 180, 140, 0.8);
  color: #fff;
  outline: none;
  transition: all 0.3s ease;
}
.inputOne:focus {
  background: #d2b48c;
  border-color: #8b4513;
}
.buttonOne {
  padding: 15px 40px;
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.8rem;
  margin-top: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.buttonOne:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.buttonOne:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.buttonOne:active {
  background: linear-gradient(135deg, #004085, #002c57);
}
.restartButton {
  padding: 12px 35px;
  background: linear-gradient(135deg, #28a745, #1e7e34);
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 25px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.restartButton:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.restartButton:active {
  background: linear-gradient(135deg, #155d27, #0b3d19);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
